# Compiled class files
*.class

# Logs
*.log

# Gradle
.gradle/
.gradle-user/
build/

# Tools & Local JDK
.tools/

# IDE
.idea/
*.iml
.vscode/

# General JAR files
*.jar

# Gradle Wrapper JAR must be committed
!gradle/wrapper/gradle-wrapper.jar

# JVM crash logs
hs_err_pid*
replay_pid*
